:root {
  --main: #010447;
  --text: #7683d4;
  --secondry: #21ce8f;
  --last: #fbfcff;
}
* {
  box-sizing: border-box;
}
body {
  background-color: var(--last);
  height: 100vh;
  margin: 0;
  display: flex;
}

body > form {
  width: 600px;
  margin: auto;
  background-color: var(--main);
  border-radius: 10px;
  padding: 20px;
  min-height: 550px;
  font-family: monospace;
  position: relative;
}
@media (max-width: 600px) {
  body > form {
    width: 340px;
  }
}
form > section {
  display: none;
  margin: 0 auto;
  padding: 10px;
  color: white;
}
form > section.first-step > div {
  padding: 10px;
}
/* labels */
form > section label {
  display: block;
  margin: 10px 0;
  text-transform: capitalize;
  color: var(--text);
}
label.required::before {
  content: "* ";
  color: #8c9aff;
}
/*  */

/* select, inputs and textareas */
form > section select,
form > section input,
textarea {
  padding: 5px 10px;
  width: 100%;
  background-color: var(--last);
  border: none;
  outline: none;
}
form > section input[type="file"] {
  padding: 0;
  background-color: transparent;
  display: block;
  margin: auto;
  width: 100px;
  color: transparent;
}
form > section input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
  padding: 10px;
}
form > section input[type="file"]::file-selector-button {
  cursor: pointer;
  padding: 10px;
}
/*  */

/* next and back buttons */
form .control {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.greenbtn {
  background-color: var(--secondry);
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}
.add {
  display: block;
  margin: 15px auto;
}
button.next {
  margin-left: auto;
}
/*  */

/* phone input */
.code img {
  width: 20px;
}
.code {
  list-style: none;
  padding: 0;
  position: absolute;
  top: 100%;
  background-color: white;
  color: black;
}
.code li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  cursor: pointer;
}
.code li:hover {
  background-color: #eee;
}
.code-container {
  min-width: 55px;
  height: 30px;
  overflow: hidden;
  position: relative;
  background-color: var(--last);
  display: flex;
  user-select: none;
}
.down {
  border-top: 10px;
  border-left: 5px;
  border-right: 5px;
  border-bottom: 0px;
  border-style: solid;
  border-color: gray transparent transparent transparent;
  transform-origin: center;
  position: absolute;
  left: 43px;
  top: 50%;
  transform: translatey(-50%);
  transition: 150ms;
}
.flag {
  width: 40px;
  background-position: center;
  background-size: cover;
}
.open-menu .down {
  transform: translatey(-50%) rotate(180deg);
}
.open-menu {
  overflow: visible;
}
/*  */

/* delete order button */
.delete {
  color: white;
  background-color: red;
  padding: 10px 20px;
  display: none;
  cursor: pointer;
  border: none;
  margin: 0 auto;
  border-radius: 6px;
}

/*  */

/* errors */
.empty {
  border: 1px solid red;
}
.err {
  color: red;
  text-align: center;
  margin: 5px 0;
}
/*  */

/* car image */
.car {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
/*  */

/* phone number */
div.phone {
  padding: 0;
  display: flex;
  gap: 4px;
}
.code {
  width: 65px;
}

/*  */

/* fifth step */
.fifth-step p {
  font-weight: bold;
  color: var(--text);
  text-transform: capitalize;
}
.fifth-step p span {
  font-weight: normal;
  color: white;
  text-transform: none;
}
.fifth-step article {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  gap: 20px;
}
.fifth-step article div {
  width: 250px;
}

/*  */

/* sixth step */
.sixth-step {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.sixth-step h1 {
  font-size: 28px;
  margin: auto;
  width: 400px;
}
.sixth-step p {
  font-size: 23px;
  color: var(--text);
}
.sixth-step span {
  color: white;
}
@media (max-width: 600px) {
  .sixth-step h1 {
    width: 220px;
    font-size: 20px;
  }
}
.sixth-step p {
  font-size: 17px;
}

/*  */

/* indicator */
.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin: 20px 0;
}

.indicator span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--last);
  display: block;
  opacity: 0.5;
}
/*  */

/* active step*/
.active {
  opacity: 1 !important;
}

/*  */

/* completed step */
.completed {
  background-color: var(--secondry) !important;
}
/*  */

/* repeater */
.order {
  border-radius: 10px;
  background-color: var(--text);
  padding: 5px;
  gap: 15px;
  margin: 10px auto;
}
.order div {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  gap: 5px;
}
.order p {
  text-transform: capitalize;
  color: #000120;
  font-weight: bold;
  font-size: 15px;
  width: 120px;
  margin: 0;
}

.order span {
  display: block;
  color: white;
  font-weight: normal;
  text-transform: none;
}
.order img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  display: block;
  margin: auto;
}
.orders .delete-order {
  margin-left: auto;
  background-color: red;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}
@media (min-width: 600px) {
  .order {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 600px) {
  .orders .delete-order {
    margin: 10px auto;
    display: block;
    width: fit-content;
  }
}
/*  */

/* image preview */
.part-preview img {
  display: block;
  max-width: 100%;
}
.part-preview {
  margin: 10px auto;
  width: 150px;
  border-radius: 10px;
  overflow: hidden;
}
/*  */

.part-info div {
  border: 1px solid;
  padding: 10px;
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.part-info div img {
  width: 150px;
  aspect-ratio: 1/1;
  margin-left: auto;
  border-radius: 10px;
}
.parts {
  width: 100%;
}
